/* bg:e4e4e4 , border: #dbdbdb -> light */
/* bg:1e1f26 , border: #2d2e36 -> dark */

.sugesstion-auto {
  display: block;
  border-radius: 7px;
  position: relative;
  transition: background 0.3s ease;
}

.form-control-auto {
  background-color: #1e1f26 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.form-control-auto input {
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 15px 20px;
  outline: none;
}

.form-control-auto label {
  font-size: 10px;
  text-transform: uppercase;
  color: #949494;
  padding: 10px 0px 10px 20px;
}

.suggestions {
  position: absolute;
  top: 50px;
  left: 0px;
  z-index: 999;
  cursor: pointer;
  width: 100%;
  max-height: 200px;
  overflow: auto;
}

.suggestions > div {
  padding: 15px 25px;
  border-bottom: 2px solid #2d2e36;
  transition: all 0.1s ease;
}

.suggestions > div:hover {
  background-color: #dbdbdb !important;
  color: #000000;
}

.suggestions > div,
.form-control-auto input {
  font-size: 14px !important;
  background-color: #1e1f26;
  color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid #134369;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 16px;
}

@keyframes borderColorChange {
  0% {
    border-color: green;
  }
  100% {
    border-color: #134369;
  }
}

.card-last {
  border-color: green;
  border-width: 2px;
  border-style: solid;
  animation: borderColorChange 3s forwards;
}

.card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-content p {
  margin: 8px 0;
  font-size: 14px;
  color: #333;
}

.card-content strong {
  font-weight: 600;
}

.card-content span {
  color: #555;
}
